<!DOCTYPE html>
<html>
<head>
	<title>Weather</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class='bgimg'>
	<div class="container">
  	<div class="row">
	    <div class="col-sm">
	    </div>
    	<div class="col-sm">
    		<div class="frame">
			  <div class="center">			    
				<div class="profile">
				<form action="/" method="post">
					City: <input type="Text" name="city_name"/>
					<button type="submit" name="submit">Search</button>
					<br>
					<img src ="http://openweathermap.org/img/wn/10d@2x.png">
					<img src ="http://openweathermap.org/img/wn/10d@2x.png">
					</form>
				</div>		
			  </div>
			</div>
        
	    </div>
		</div>
		<div class="col-sm">
		</div>
    </div>
    </div>
</body>
</html>